* text=auto

*.cmd text eol=crlf
*.bat text eol=crlf
*.sh text eol=lf
*.command text eol=lf
*.plist text eol=lf
*.ps1 text eol=crlf
*.java text eol=lf
*.md text eol=lf
*.yml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.wav binary
*.jar binary
*.exe binary
*.class binary
